blinker
Bottleneck
click
dataclasses
dnspython
Flask
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
numexpr
numpy
nltk==3.9.2
pandas
pathlib==1.0.1
pymongo
python-dateutil
python-dotenv
pytz
six
tzdata
Werkzeug
zipp
